<div class="cars-menu">
  <a *ngFor="let car of cars"
     routerLink="/detail/{{car.id}}">

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-subtitle>{{car.markOfCar}} {{car.modelOfCar}}</mat-card-subtitle>
        <mat-card-subtitle>Segment {{car.segment}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{car.imgSrcOfCar}}" alt="Photo of Car">
    </mat-card>

  </a>
</div>
