<div class="date-and-location-menu">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Lokalizacja</mat-label>
      <input type="text"
             placeholder="Wybierz lokalizację"
             aria-label="Lokalizacja"
             matInput
             [formControl]="locationControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input class="mat-date-range-input" [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
  </form>

</div>

<div class="selected-menu">
  <p>Selected location : {{locationControl.value | json}}</p>
  <p>Selected date range: {{range.value | json}}</p>
</div>
