<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/cars">Cars</a>
  <a routerLink="/date-and-location">Date and Location</a>
  <a routerLink="/sing-in">Sing in</a>
  <a routerLink="/car-album">Car album</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
